<p>​Mi nombre es Kaar Joseph Mashingashi Unkuch y nací en el cantón de Gualaquiza, ubicado en la provincia de Morona Santiago, Ecuador. Desde que era joven, siempre me ha interesado el mundo de la tecnología y todo lo que está relacionado con la informática. Siempre me ha gustado aprender sobre los últimos avances en tecnología y siempre he estado fascinado por cómo la tecnología puede cambiar nuestras vidas.

    ​<br>​<br>
    
    Durante mi tiempo en la escuela secundaria, me especialicé en ciencias y me gradué en el Colegio Fiscomisional Río Cenepa en 2020. Después de graduarme, decidí continuar mis estudios en la universidad y actualmente estoy estudiando Ingeniería en Ciencias de la Computación en la Universidad Politécnica Salesiana, ubicada en Cuenca, Ecuador.
    
    ​​<br>​<br>
    
    Además de mi amor por la tecnología, también tengo una pasión por la fotografía y la cinematografía. A lo largo de los años, he estudiado el arte de la actuación y he trabajado en varios proyectos cinematográficos. Me encanta la forma en que la fotografía y la cinematografía pueden capturar momentos y emociones y llevarlos a la vida de una manera increíblemente vívida.
    
    ​​<br>​<br>
    
    En general, creo que mi vida ha sido una aventura emocionante hasta ahora, y estoy emocionado por lo que el futuro me depara. Con mi formación en tecnología, mis habilidades en fotografía y cinematografía y mi amor por el aprendizaje continuo, espero hacer una contribución significativa al mundo y hacer una diferencia en la vida de las personas.</p>
